*{
  padding:0px;
  margin:0px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif,'Microsoft Yahei';
}
ul li{
  list-style: none;
}
input{
  outline: none;
  border:none;
}
@media screen and (min-width:1680px){
    html,body{
        font-size: 15px;
    }
}
@media screen and (max-width:1280px){
    html,body{
        font-size: 13px;
    }
}
